* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.link, .job, .name, .skills h4,
 .about h1, .project, .email h1,
  .email h2 {
  font-weight: 400;
}
.link, .main-display, .skills h4,
 .about, .btn, .footer, 
 .icon, .arrow-up, .arrow {
  color: #ffffff;
}
.main-display, .my-skills, .back {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content, .btn, .card-title, .link {
  font-size: 1.5rem;
}
.btn, .icon, .arrow-up {
  cursor: pointer;
}
.image {
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center center;
}
/* Navbar */
.navbar {
    position: sticky; 
    top: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    text-decoration: none;
}
/* Main Display */
.main-display {
    justify-content: center;
    padding-top: 15%;
}
.name {
  font-size: 4.5rem;
}
.job {
  font-size: 2.7rem;
}
/* Skills */
.my-skills{
  padding-top: 2rem;
}
.my-skills h1 {
  margin-right: 12rem; 
  
}
.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.skills h4  {
  background: rgba(153,153,153,.2);
  padding: 0.6rem 0.7rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid;
  border-radius: 5px;
}
/* About */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000207;
  padding-bottom: 5rem;
}
.about h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.about-descrip {
  max-width: 400px;
}
/* Projects */
.project {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3rem;
}
.projects {
    width: 90vw;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 3rem;
    padding: 5rem;
    margin: 0 auto;
    background-color: #ffffff;
}
.card {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 300px;
    height: 300px;
    perspective: 500px;
    
  }
  .card-title {
    color: #000000;
    margin-top: 0.5rem;
  }
  .card-text {
    padding: 0 1rem;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
    .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.7s;
  }
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #1d1d1d;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
  }  
  .back {
    justify-content: center;
    background: #1d1d1d;
    color: #ffffff;
    transform: rotateY( 180deg );
  }
  .card-img-top {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
  .btn {
    padding-top: 3rem;
    background: none;
    border: none;
    max-width: 100px;
    margin: 1.5rem auto;
}
  /* Footer */
  .contact {
    background-color: #000207;
  }
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
}
.icon {
    font-size: 3.5rem;
    padding: .5rem 0;
}
.arrow {
  font-size: 2.5rem;
}
/* back-to-top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: #000207;
  cursor: pointer;
  border-radius: 100%;
  font-size: 2.7rem;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}
.back-to-top:hover {
  background: rgb(138, 135, 135);
}
/* Responsive */
@media screen and (max-width: 850px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icons {
    margin-top: 1rem;
  }
  .projects {
    margin: 0 auto;
    padding: 2rem 0;
  }
  .about{
    padding-left: 0.5rem;
  }
}