* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.link, .job, .name, .skills h4,
 .project, .email h1, .email h2 {
  font-weight: 400;
}
.link, .main-display, .skills h4,
 .about, .btn, .footer, 
 .icon, .arrow-up, .arrow {
  color: #ffffff;
}

.content, .btn, .link, .job {
  font-size: 1.5rem;
}
.btn, .icon, .arrow-up {
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #000000;
}
.image {
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center center;
}
/* Navbar */
.navbar {
    position: sticky; 
    top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    text-decoration: none;
}
/* Main Display */
.main-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 15%;
}
.name {
  font-size: 3rem;
}
/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 425px;
}
.skills h4  {
  padding: 0.6rem 0.7rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid;
  border-radius: 20px;
}
/* About */
.about {
 display: flex;
 justify-content: left;
 position: relative;
 top: 40%;
 left: 10%;
} 
.about-descrip {
  max-width: 500px;
  line-height: 1.9;
}
/* Projects */
.project {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3rem;
}
.projects {
    width: 90vw;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-row-gap: 3rem;
    padding: 5rem;
    margin: 0 auto;
    background-color: #ffffff;
}
.content{
  display: flex;
}
.card {
    margin: 0 auto;
    width: 500px;
    perspective: 500px;
    padding: 1rem;
  }
  .card:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1rem;
  }
  .card-title {
    padding-left: 1rem;
    color: #000000;
    font-size: 1.1rem;
  }
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }
  .card-img-top{
    height: 125px;
    width: 150px;
  }
  .skills{
    padding: 1rem 0 0 1rem;
  }
  .skills div{
    font-size: 0.9rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
    margin-left: 0.5rem;
  }
  /* Footer */
  .contact {
    background-color: #000207;
  }
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
}
.icon {
    font-size: 3.5rem;
    padding: .5rem 0;
}
.arrow {
  font-size: 2.5rem;
}
/* back-to-top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: #000207;
  cursor: pointer;
  border-radius: 100%;
  font-size: 2.7rem;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}
.back-to-top:hover {
  background: rgb(138, 135, 135);
}
/* Responsive */
@media screen and (max-width: 850px) {
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icons {
    margin-top: 1rem;
  }
  .projects {
    margin: 0 auto;
    padding: 3rem 0 5rem 0;
  }
  .about{
    padding-left: 0.5rem;
  }
}